*~
*.bak
*.pyc
__pycache__/
.coverage
.pytest_cache/
backups.egg-info
MANIFEST
build
dist
*.tar.gz
*.deb
deb_dist/
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/python3-backups/
