# Test dependencies
pytest
pytest-cov
moto[s3,rds]
boto3
requests
python-dateutil
paramiko
prometheus_client
b2sdk
minio
dropbox
google-api-python-client
google-auth
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
grpcio>=1.83.1
